<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.zhaoliang5156.learnkotlindevandroid">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".unit.uquickstart.HelloWorldActivity" />
        <activity android:name=".unit.uactivity.UseActivity" />
        <activity android:name=".unit.uactivity.useactivity.startandfinish.StartActivity" />
        <activity android:name=".unit.uactivity.useactivity.stateandlifecycle.StateAndLifecycleActivity" />
        <activity android:name=".unit.uactivity.useactivity.phoneandsms.PhoneAndSmsActivity" />
        <activity android:name=".unit.uactivity.useactivity.startandfinish.FinishActivity" />
        <activity
            android:name=".unit.uactivity.useactivity.stateandlifecycle.LifecycleSecondActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".unit.uactivity.useactivity.launchmode.BackStackAndLunchModeActivity"
            android:launchMode="singleTask" />
        <!-- android:launchMode="singleTop"/> -->
        <activity
            android:name=".unit.uactivity.useactivity.launchmode.LaunchModeSecondActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".unit.uactivity.useactivity.launchmode.LaunchModeThirdActivity" />
        <activity android:name=".unit.uuserinterface.UseViewActivity" />
        <activity android:name=".unit.uuserinterface.component.ComponentActivity" />
        <activity android:name=".unit.uuserinterface.dialog.DialogActivity" />
        <activity android:name=".unit.uuserinterface.menu.MenuActivity" />
        <activity android:name=".unit.uuserinterface.progress.ProgressActivity" />
        <activity android:name=".unit.uuserinterface.layout.LayoutActivity" />
        <activity android:name=".unit.uuserinterface.listview.ListViewActivity" />
        <activity android:name=".unit.uuserinterface.gridview.GridActivity" />
        <activity
            android:name=".unit.uuserinterface.styleandtheme.StyleAndThemeActivity"
            android:theme="@style/MyTheme" />
        <activity android:name=".unit.uuserinterface.layout.linearlayout.LinearLayoutActivity" />
        <activity android:name=".unit.uuserinterface.layout.relativelayout.RelativeLayoutActivity" />
        <activity android:name=".unit.uuserinterface.layout.framelayout.FrameLayoutActivity" />
        <activity android:name=".unit.uuserinterface.listview.arrayadapter.ArrayAdapterActivity" />
        <activity android:name=".unit.uuserinterface.listview.baseadapter.BaseAdapterActivity" />
        <activity android:name=".unit.uuserinterface.listview.simpleadapter.SimpleAdapterActivity" />
        <activity android:name=".unit.uuserinterface.listview.applist.AppListActivity"></activity>
    </application>

</manifest>